<%
  button_class = local_assigns.fetch :button_class, "stripe-button-el"
  button_inner_style = local_assigns.fetch :button_inner_style, 'min-height: 30px'
  button_text = local_assigns.fetch :button_text, "Submit"
  name = local_assigns.fetch :name, "Membership subscription"
  panel_label = local_assigns.fetch :panel_label, ''
  allow_remember_me = local_assigns.fetch :allow_remember_me, false
  email = local_assigns.fetch :email, ''
  verify_zip_code = local_assigns.fetch :verify_zip_code, false
  custom_fields = local_assigns.fetch :custom_fields, nil
  guid = local_assigns.fetch :guid,
  # form_url = local_assigns.fetch :form_url, payola.update_card_path(subscription)
  form_url = "/update_card"
  include_stripe_checkout_assets = local_assigns.fetch :include_stripe_checkout_assets, true

  # sale = Payola::Sale.find_by(guid: guid)
  sale = Payola::Subscription.find_by(guid: guid)

  button_id = "payola-button-update-credit-card"
  form_id = "#{button_id}-form"
  error_div_id = local_assigns.fetch :error_div_id, ''
  if error_div_id.present?
    show_default_error_div = false
  else
    error_div_id = "#{button_id}-errors"
    show_default_error_div = true
  end
  raw_data = {
    base_path: main_app.payola_path,
    button_id: button_id,
    form_id: form_id,
    error_div_id: error_div_id,
    name: name,
    publishable_key: Payola.publishable_key_for_sale(sale),
    guid: guid,
    panel_label: panel_label,
    allow_remember_me: allow_remember_me,
    email: email,
    verify_zip_code: verify_zip_code
  }
  raw_data[:signed_custom_fields] = sale.verifier.generate(custom_fields) if custom_fields
  html_hash = {}
  raw_data.each do |k,v|
    html_hash["data-#{k}"] = v
  end
  html_hash["id"] = form_id
%>

<% if include_stripe_checkout_assets %>
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <link rel="stylesheet" href="https://checkout.stripe.com/v3/checkout/button.css"></link>
<% end %>

<%= form_tag form_url, html_hash do %>
  <button class="<%= button_class %> payola-subscription-update-credit-card-button" id="<%= button_id %>">
    <span class="payola-subscription-checkout-button-text" style="display: block; <%= button_inner_style %>"><%= button_text %></span>
    <span class="payola-subscription-checkout-button-spinner" style="display: none; <%= button_inner_style %>">Please wait...</span>
  </button>
  <% if show_default_error_div %>
    <div class="payola-error-target" style="display:none", id="<%= error_div_id %>"></div>
  <% end %>
<% end %>
